% Compiler Options for rebar
{erl_opts, [
	{src_dirs, ["src"]}
]}.

% Dependencies
{deps, [
	{bullet, ".*", {git, "git://github.com/extend/bullet.git"}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}}
]}.

% Which files to cleanup when rebar clean is executed.
{clean_files, ["ebin/*.beam"]}.