html {
		background: #fff; /* dark blue */
}

body {
		font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
		color: rgb(110,110,110);
		line-height: 18px;
		background: #2D5072;
}

* {
		margin: 0;
		padding: 0;
		text-decoration: none;
}

p, h3 {
		margin: 0 0 20px 0;
}

h3 {
		font-weight: bold;
		font-size: 13px;
		line-height: 16px;
}

a {
		color: rgb(110,110,110);
		text-decoration: underline;
}

a:hover {
		color: rgb(80,80,80);
}

a:active {
		color: rgb(110,110,110);
}

code {
		font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
		color: rgb(160,160,160);
}

/* buttons */

button {
		border: none;
		padding: 7px 9px;
		font-size: 12px;
		line-height: 12px;
		font-family: Helvetica, sans-serif;
		text-decoration: none;
		border-radius: 4px;
		cursor: pointer;
}

button.submit { /* blue */
		color: rgba(250,250,250,0.92);
		text-shadow: 0 -1px rgb(58,138,223);
		background: rgb(70,150,223);
		background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
		background: -webkit-linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
		box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), inset 0 2px 0 0 rgb(102,182,237), inset 2px 0 0 0 rgba(105,185,240,0.1), inset -2px 0 0 0 rgba(105,185,240,0.1), inset 0 -2px 0 0 rgba(105,185,240,0.1), 0 1px 2px rgba(0,0,0,0.08);
}

button.submit:hover {
		color: rgba(255,255,255,0.92);
		text-shadow: 0 -1px rgb(63,143,228);
		background: rgb(75,155,228);
		background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
		background: -webkit-linear-gradient(top, rgb(100,180,235) 0%, rgb(55,135,220) 100%);
		box-shadow: inset 0 0 0 1px rgba(40,110,195,0.6), inset 0 2px 0 0 rgb(107,187,242), inset 2px 0 0 0 rgba(110,190,245,0.1), inset -2px 0 0 0 rgba(110,190,245,0.1), inset 0 -2px 0 0 rgba(110,190,245,0.1), 0 1px 2px rgba(0,0,0,0.08);
}

button.submit:active {
		color: rgba(250,250,250,0.91);
		text-shadow: 0 1px rgb(45,125,210);
		background: rgb(60,140,213);
		background: linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
		background: -webkit-linear-gradient(top, rgb(60,140,215) 0%, rgb(80,160,220) 100%);
		box-shadow: inset 0 0 0 1px rgba(35,105,190,0.6), 0 1px 2px rgb(255,255,255), inset 0 0 rgba(35,105,190,0.4);
}

/* end buttons */

/* input */

input:focus, textarea:focus {
		outline: none;
}

input {
		padding: 4px 6px;
		font-size: 13px;
		line-height: 16px;
		border-radius: 4px;
		color: rgb(110,110,110);
		background: #fff;
		border: 1px solid rgb(192,192,192);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
		-webkit-appearance: none;
}

input::input-placeholder, input::-webkit-input-placeholder {
		color: rgb(160,160,160);
}

/* end input */

/* setup */

@-webkit-keyframes fade-in {

		0% {
				opacity: 0;
		} 100% {
				opacity: 1;
		}

}

@keyframes fade-in {

		0% {
				opacity: 0;
		} 100% {
				opacity: 1;
		}

}

.overlay {
		z-index: 101;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.1);
		-webkit-animation: fade-in;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-iteration-count: 1;
		animation: fade-in;
		animation-duration: 0.4s;
		animation-iteration-count: 1;
}

@-webkit-keyframes fall-in {

		0% {
				margin-top: 0;
				opacity: 0;
		} 100% {
				margin-top: 150px;
				opacity: 1;
		}

}

@keyframes fall-in {

		0% {
				margin-top: 0;
				opacity: 0;
		} 100% {
				margin-top: 150px;
				opacity: 1;
		}

}

.overlay .box {
	margin: 150px auto 0 auto;
	width: 300px;
	background: #fff;
	padding: 13px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	border: 1px solid rgb(192,192,192);
	-webkit-animation: fall-in;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
	animation: fall-in;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

#username {
	width: 100%;
	margin-bottom: 13px;
}

#username.error {
	background: rgba(255,50,0, 0.1);
}

#register .button-wrapper {
	width: 100%;
	text-align: right;
}

#register .message {
	text-align: left;
	display: inline;
	margin-right: 13px;
}

/* end setup */

/* global */

#wrapper {
	z-index: 100;
	width: 70%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 15%;
	right: 15%;
}

#rooms {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	box-shadow: inset -1px 0 rgb(192,192,192);
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}

#messages {
	position: absolute;
	top: 0;
	left: 200px;
	right: 200px;
	bottom: 0;
	width: auto;
}

#users {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 200px;
	border-left: 1px rgb(192,192,192) solid;
}

/* end global */

/* rooms */

#join {
	width: 200px;
	padding: 13px;
}

#rooms ul.rooms {
	list-style: none;
}

/* #todo background color fallback & more vendor gradient prefixes */

#rooms ul.rooms li { /* grey */
	height: 36px;
	background: linear-gradient(top, rgb(250,250,250) 0%, rgb(228,228,228) 100%);
	background: -webkit-linear-gradient(top, rgb(250,250,250) 0%, rgb(232,232,232) 100%);
	box-shadow: inset -1px 0 rgb(192,192,192), 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.44), inset 1px 0 rgba(255,255,255,0.24), inset -1px 0 rgba(255,255,255,0.24), inset 0 -1px rgba(255,255,255,0.24), 0 1px 2px rgba(0,0,0,0.08);
}

#rooms ul.rooms li.active { /* blue */
	background: linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	background: -webkit-linear-gradient(top, rgb(95,175,230) 0%, rgb(50,130,215) 100%);
	box-shadow: inset -1px 0 rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.3), inset 0 2px rgb(102,182,237);
}

#rooms ul.rooms li:first-child { /* first grey */
	box-shadow: inset -1px 0 rgb(192,192,192), 0 1px rgba(0,0,0,0.2);
}

#rooms ul.rooms li.active:first-child { /* first blue */
	box-shadow: inset -1px 0 rgba(0,0,0,0.1), inset 0 1px rgb(102,182,237);
}

#rooms ul.rooms li:last-child { /* grey last */
	box-shadow: inset -1px 0 rgb(192,192,192), 0 -1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

#rooms ul.rooms li.active:last-child { /* blue last */
	box-shadow: inset -1px 0 rgba(0,0,0,0.1), inset 0 1px rgba(0,0,0,0.3), inset 0 -1px rgba(0,0,0,0.2), inset 0 2px rgb(102,182,237);
}

#rooms ul.rooms li.active:last-child:first-child { /* single blue */
	box-shadow: inset -1px 0 rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.2);
}

#rooms ul.rooms li span.name {
	display: block;
	float: left;
	font-weight: normal;
	line-height: 36px;
	margin-left: 13px;
	font-size: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,0.50);
	text-shadow: 0 1px #fff;
}

#rooms ul.rooms li.active span.name {
	color: rgba(250,250,250,0.92);
	text-shadow: 0 -1px rgb(58,138,223);
}

#rooms ul.rooms li button.remove {
	display: none;
}

#rooms ul.rooms li:hover button.remove {
	float: right;
	display: block;
	font-size: 11px;
	line-height: 15px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	height: 15px;
	padding: 0 5px 0 5px;
	margin: 10px 10px 11px 0;
	background: -webkit-linear-gradient(top, rgb(245,70,0) 0%, rgb(255,80,10) 100%);
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 1px 0 rgba(0,0,0,0.1), inset -1px 0 rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,0.44);
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.2);
	border-radius: 3px;
}

#rooms ul.rooms li.active:hover button.remove {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 1px 0 rgba(0,0,0,0.2), inset -1px 0 rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.1), 0 1px 1px rgba(255,255,255,0.24);
}

#room-name {
	width: 174px;
	box-sizing: border-box;
}

#load {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: none;
	color: rgb(110,110,110);
	font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	line-height: 39px;
	height: 39px;
	text-decoration: underline;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

#messages div.scroll-wrapper {
	position: absolute;
	top: 0;
	bottom: 53px;
	right: 0;
	left: 0;
	overflow-y: scroll;
}

#messages .rooms ol {
	display: none;
}

#messages .rooms ol.active {
	display: block;
	list-style: none;
	position: absolute;
	top: 39px;
	left: 0;
	right: 0;
	bottom: 0;
}

#messages .rooms ol.active li {
	display: block;
	float: left;
	width: 100%;
}

#messages .rooms ol.active li span.name {
	display: block;
	float: left;
	color: rgb(153, 153, 155);
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 12px;
	line-height: 21px;
	margin: 0 0 0 26px;
}

#messages .rooms ol.active li span.timestamp {
	display: none;
}

#messages .rooms ol.active li:hover span.timestamp {
	display: block;
	float: right;
	color: rgb(153, 153, 155);
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 21px;
	margin: 0 26px 0 0;
}

#messages .rooms ol.active li span.message {
	display: block;
	float: left;
	width: 100%;
	padding: 0 0 26px 26px;
	box-sizing: border-box;
	color: rgb(90,90,90);
	font: normal 13px "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
	line-height: 18px;
}

#send {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 52px;
	background: #eee;
	border-top: 1px rgb(192,192,192) solid;
}

#send div.input-wrapper {
	position: absolute;
	right: 73px;
	left: 13px;
	top: 13px;
	bottom: 13px;
}

#send div.input-wrapper #new-message {
	width: 100%;
}

#send button.submit {
	position: absolute;
	right: 13px;
	top: 13px;
	bottom: 13px;
}

#users ul {
	display: none;
}

#users ul.active {
	display: block;
	list-style: none;
	padding: 16px;
}

#users ul.active li {
	color: rgb(90,90,90);
	font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
	font-size: 12px;
	line-height: 12px;
	margin: 0 0 12px 0;
}
